[
    {
        "name": "test1",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test1.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-UTEST_FORMATTED"
        }
    },
    {
        "name": "test1Formatted_plain",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test1.c",
            "../tests/parse_flags.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " plain"
        }
    },
    {
        "name": "test1Formatted_pretty",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test1.c",
            "../tests/parse_flags.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " pretty"
        }
    },
    {
        "name": "test1Formatted_spaced",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test1.c",
            "../tests/parse_flags.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " spaced"
        }
    },
    {
        "name": "test1Formatted_spaced_pretty",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test1.c",
            "../tests/parse_flags.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " spaced pretty"
        }
    },
    {
        "name": "test1Formatted_spaced_pretty_pretty_tab",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test1.c",
            "../tests/parse_flags.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " spaced pretty pretty_tab"
        }
    },
    {
        "name": "test2",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test2.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-UTEST_FORMATTED"
        }
    },
    {
        "name": "test2Formatted_plain",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test2.c",
            "../tests/parse_flags.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " plain"
        }
    },
    {
        "name": "test2Formatted_pretty",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test2.c",
            "../tests/parse_flags.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " pretty"
        }
    },
    {
        "name": "test2Formatted_spaced",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test2.c",
            "../tests/parse_flags.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " spaced"
        }
    },
    {
        "name": "test2Formatted_spaced_pretty",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test2.c",
            "../tests/parse_flags.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " spaced pretty"
        }
    },
    {
        "name": "test2Formatted_spaced_pretty_pretty_tab",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test2.c",
            "../tests/parse_flags.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-cpp-extra-args": "-DTEST_FORMATTED",
            "-val-args": " spaced pretty pretty_tab"
        }
    },
    {
        "name": "test4",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test4.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c"
        ]
    },
    {
        "name": "test_cast",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_cast.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../json_util.c"
        ]
    },
    {
        "name": "test_charcase",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_charcase.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c"
        ]
    },
    {
        "name": "test_compare",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_compare.c",
            "../json_object.c",
            "../printbuf.c",
            "../arraylist.c",
            "../linkhash.c"
        ]
    },
    {
        "name": "test_deep_copy",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_deep_copy.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../json_util.c",
            "../arraylist.c"
        ],
        "raw_options": {
            "-val-printf-singleton-pointers": true
        }
    },
    {
        "name": "test_double_serializer",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_double_serializer.c",
            "../json_object.c",
            "../printbuf.c"
        ]
    },
    {
        "name": "test_float",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_float.c",
            "../json_object.c",
            "../printbuf.c"
        ]
    },
    {
        "name": "test_int_add",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_int_add.c",
            "../json_object.c",
            "../printbuf.c"
        ]
    },
    {
        "name": "test_json_pointer",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_json_pointer.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../arraylist.c",
            "../json_util.c",
            "../json_pointer.c"
        ]
    },
    {
        "name": "test_locale",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_locale.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../arraylist.c",
            "../json_util.c"
        ]
    },
    {
        "name": "test_null",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_null.c",
            "../json_object.c",
            "../printbuf.c",
            "../json_tokener.c"
        ]
    },
    {
        "name": "test_object_iterator",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_object_iterator.c",
            "../json_object_iterator.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../json_util.c"
        ],
        "raw_options": {
            "-val-args": " ."
        }
    },
    {
        "name": "test_parse",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_parse.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../arraylist.c",
            "../json_util.c",
            "../linkhash.c",
            "../json_visit.c"
        ]
    },
    {
        "name": "test_parse_int64",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_parse_int64.c",
            "../json_util.c"
        ]
    },
    {
        "name": "test_printbuf",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_printbuf.c",
            "../printbuf.c"
        ]
    },
    {
        "name": "testReplaceExisting",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/testReplaceExisting.c",
            "../json_object.c",
            "../linkhash.c",
            "../printbuf.c"
        ]
    },
    {
        "name": "test_set_serializer",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_set_serializer.c",
            "../json_object.c",
            "../linkhash.c",
            "../printbuf.c"
        ]
    },
    {
        "name": "test_set_value",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_set_value.c",
            "../json_object.c",
            "../printbuf.c",
            "../json_tokener.c",
            "../json_util.c"
        ]
    },
    {
        "name": "test_util_file",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_util_file.c",
            "../json_c_version.c",
            "../json_util.c",
            "../printbuf.c",
            "../json_tokener.c",
            "../json_object.c",
            "../linkhash.c",
            "../strerror_override.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "../tests/valid.json",
                    "name": "./valid.json"
                },
                {
                    "from": "../tests/valid_nested.json",
                    "name": "./valid_nested.json"
                },
                {
                    "name": "/dev/null"
                }
            ]
        },
        "raw_options": {
            "-val-args": " ."
        }
    },
    {
        "name": "test_visit",
        "compilation_database": [
            "build"
        ],
        "files": [
            "../tests/test_visit.c",
            "../json_tokener.c",
            "../printbuf.c",
            "../json_object.c",
            "../linkhash.c",
            "../json_util.c",
            "../arraylist.c",
            "../json_visit.c"
        ]
    }
]
