{
  "files": [ "../tests/test_util_file.c" ],
  "compilation_database": [ "build" ],
  "filesystem": {
    "files": [
      { "from": "../tests/valid.json", "name": "./valid.json" },
      { "from": "../tests/valid_nested.json", "name": "./valid_nested.json" },
      { "name": "/dev/null" }
    ]
  },
  "raw_options": { "-val-args": " ." }
}
